<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.happydonor" >
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_noname"
        android:supportsRtl="true"
        android:theme="@style/Theme.HappyDonor"
        tools:targetApi="31" >
        <activity
            android:name=".launcherActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyPostsActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".MyCampsActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".AddCampActivity"
            android:exported="false"
            android:parentActivityName=".ViewCampsActivity" />
        <activity
            android:name=".EditCampActivity"
            android:exported="false"
            android:parentActivityName=".ViewCampsActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".EditPostActivity"
            android:exported="false"
            android:parentActivityName=".ViewPostsActivity" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".ViewCampsActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false"
            android:parentActivityName=".ViewPostsActivity" />
        <activity
            android:name=".ViewDonorsActivity"
            android:exported="false"
            android:parentActivityName=".ViewPostsActivity" />
        <activity
            android:name=".ViewPostsActivity"
            android:exported="false"
            android:parentActivityName=".DashboardActivity" />
        <activity
            android:name=".BenefitsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:parentActivityName=".ViewPostsActivity" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:parentActivityName=".launcherActivity"/>
    </application>

</manifest>